@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    color: $color-text;
    background: $color-primary-light;
    // background: linear-gradient(305deg, $color-primary 0%, $color-primary-light 100%);
}

::selection{
    background-color: $color-primary;
}

section{
    padding: 1rem;
}

a{
    color: $color-secondary-light;
    &:hover,&:focus {
        color: $color-secondary;
    }
}

h1{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .5rem;
    @include min-width(1024px) {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}
