.hero{
    padding: 1rem;
    @include min-width(1024px) {
        padding: 5rem 8rem;
    }
}

.container{
    width: 100%;
    max-width: 1440px;
    padding: 0 10px;
    margin: auto;
    box-sizing: border-box;
}

.title{
    font-size: 1.3rem;
    color: $color-secondary-light;
    line-height: 1.5;
}
.subtitle{
}